[Unit]
Description=Battery Allert Timer
Requires=de-battery-allert.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target
